.archive-header{
    background-color: $secondary;
    padding: rem-calc(35 0 103);
    text-transform: normal;

    @include breakpoint(small down){
        // padding-bottom: rem-calc(40);
    }

    h1{
        font-size: $h3;
        font-weight: bold;

        @include breakpoint(small down){
            padding-right: rem-calc(20);
            padding-left: rem-calc(20);

            .events-calendar &{
                padding-left: 0;
            }
        }
    }
}

.content{

    &.blog,
    &.news,
    &.events,
    &.search-page,
    &.author{
        padding-bottom: rem-calc(15);

        .grid-container{

            @include breakpoint(small down){
                padding-left: 0;
                padding-right: 0;
            }
        }

        .main{
            margin-top: rem-calc(-140);
        }
    }
}
