.single-page-contact{

    p{
        line-height: 1.8;
        font-size: $offcanvas-font;

        @include breakpoint(small down){
            font-size: $footer-font;
        }
    }

    .single-page__text{

        @include breakpoint(small down){
            padding-bottom: rem-calc(100);
        }

        a{
            color: $black;

            &:hover{
                text-decoration: underline;
            }
        }

        ul{
            list-style: none;
            margin:0;
            margin-top:rem-calc(49);
            display: block;

            li{
                margin-bottom: rem-calc(8);

                a{
                    font-size: $footer-font;
                    color: $black;
                    padding-left: 0;

                    @include breakpoint(small down){
                        font-size: $body-mobile-font-size;
                    }

                    i{
                        background-color: $black;
                        color:$white;
                        border-radius:100%;
                        border: solid rem-calc(1) transparent;
                        width:rem-calc(32);
                        height: rem-calc(32);
                        text-align: center;
                        line-height: rem-calc(32);
                        font-size: rem-calc(14);
                        margin-right: rem-calc(10);
                        transition: .2s ease-in-out;
                    }

                    &:hover{
                        text-decoration: none;

                        i{
                            background-color: $white;
                            border-color: $black;
                            color:$black;
                        }
                    }
                }
            }
        }
    }

    .single-page__map{

        @include breakpoint(small down){
            margin-top: rem-calc(-60);
        }

        #map{
            height: rem-calc(650);

            @include breakpoint(small down){
                height: rem-calc(400);
            }

            img{
                max-width: none;
            }
        }
    }
}
