.events-calendar{

    .archive-header-calendar{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        @include breakpoint(small down){
            flex-direction: column;
            align-items: flex-start;
        }

        .button{
            padding-left: rem-calc(10);
            padding-right: rem-calc(10);
            margin-bottom: 0;
            margin-left: rem-calc(30);
            margin-top: rem-calc(-7);

            @include breakpoint(small down){
                margin-left: 0;
                margin-top: 0;
            }
        }
    }

    .entry-content{
        margin-top: rem-calc(37);

        @include breakpoint(medium down){

            .grid-x{
                flex-direction: column-reverse;
            }
        }
    }
}

.fc{

    @include breakpoint(medium down){
        margin-bottom: rem-calc(40);
    }
}

.event-thumb{

    .event-calendar-item{
        display: flex;
        margin-bottom: rem-calc(37);
        align-items: center;
        background-color: $secondary;

        @include breakpoint(small down){
            flex-wrap: wrap;
            flex-direction: column;
            text-align: center;
        }
    }

    .event-calendar-img{
        width: rem-calc(294);
        height: rem-calc(285);
        margin-right: rem-calc(30);

        @include breakpoint(small down){
            width: auto;
            margin-right: 0;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .event-calendar-text{

        @include breakpoint(small down){
            padding: rem-calc(30 15);
        }

        p{
            color: $primary;
            font-size: $body-font-size;
            margin-bottom: rem-calc(30);

            @include breakpoint(small down){
                font-size:$footer-font;
            }
        }

        h3{
            margin-bottom: rem-calc(35);
        }

        .button{
            font-size: $offcanvas-font;

            @include breakpoint(small down){
                font-size:$footer-font;
            }
        }
    }
}

table{
    margin-bottom: 0;
}

.fc-toolbar.fc-header-toolbar{
    margin-bottom: 0;
    background-color: $primary;
    position: relative;
    padding-top: rem-calc(8);
    padding-bottom: rem-calc(8);
    justify-content: center;

    .fc-left,
    .fc-right{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        left: 10%;

        @include breakpoint(small down){
            left: 0;
        }
    }

    .fc-right{
        right: 10%;
        left: auto;

        @include breakpoint(small down){
            right: 0;
        }
    }
}

.fc-button-primary{
    background-color: $primary;
    border: 0;
}

.fc-toolbar h2{
    font-size: $h3-mobile;
    color: $white;
    font-weight: 400;

    @include breakpoint(small down){
        font-size:$footer-font;
    }
}

.fc-button{
    line-height: 1;
}

.fc-button .fc-icon{
    width: rem-calc(20);
    height: rem-calc(25);
    font-size: rem-calc(25);

    @include breakpoint(medium down){
        width: rem-calc(20);
        height: rem-calc(22);
        font-size: rem-calc(22);
    }
}

.fc-button-primary:focus,
.fc-button-primary:active,
.fc-button-primary:hover,
.fc-button-primary:not(:disabled):active{
    box-shadow: none;
    border: 0;
    background-color: $primary;

    span{
        transition: .2s ease-in-out;
        color: darken($secondary, 30%);
    }
}

.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead,
.fc td, .fc th{
    border: 0;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    font-size: rem-calc(15);
    color: $primary;
}

.fc-head-container.fc-widget-header{
    padding-top: rem-calc(18);
}

tfoot tr, thead tr,
.fc-view-container,
tbody, tfoot, thead,
.fc-unthemed td.fc-today{
    background-color: $secondary;
}

.fc-row .fc-bgevent-skeleton{
    display: none;
}

.fc-dayGrid-view .fc-body .fc-row{
    height: rem-calc(45)!important;
    min-height: 0;

    @include breakpoint(small down){
        height: rem-calc(35)!important;
    }
}

tfoot td, tfoot th, thead td, thead th{
    text-align: center;
}

.fc-ltr .fc-dayGrid-view .fc-day-top{

    .fc-day-number{
        font-family: 'Helvetica', sans-serif;
        float: none;
        color: $primary;

        &:hover{
            text-decoration: none;
        }
    }

    .has-event,
    &.fc-today a{
        position: relative;
        color: $white;
        z-index: 1;
        overflow: visible;

        &::before{
            display: block;
            position: absolute;
            content: '';
            top: 50%;
            left:50%;
            transform: translate(-50%, -50%);
            width: rem-calc(40);
            height: rem-calc(40);
            background-color: $primary;
            border-radius: 100%;
            z-index: -1;
            transition: .2s ease-in-out;

            @include breakpoint(small down){
                width: rem-calc(30);
                height: rem-calc(30);
            }
        }

        &:hover{

            &::before{
                background-color: lighten($primary, 10%);
            }
        }
    }

    &.fc-today a{
        color: $primary;

        &::before{
            background-color: $white;
            border: solid rem-calc(1) $primary;
        }

        &:hover{

            &::before{
                background-color: $secondary;
            }
        }
    }
}

.fc-row.fc-rigid{
    overflow: visible;
}

.fc-scroller>.fc-day-grid{
    padding-top: rem-calc(30);
}
