.footer{
    margin-top: rem-calc(32);

    &__top{
        text-align:center;
        padding:rem-calc(39 0);
        border-bottom: solid rem-calc(1) $border-color;

        @include breakpoint(small down){
            border-bottom: 0;
            max-width: rem-calc(150);
            margin:0 auto;
            padding:rem-calc(15 0);
        }
    }

    &__bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem-calc(23 0);

        @include breakpoint(small down){
            justify-content: center;
            padding-top: rem-calc(10);
        }

        p, ul li a{
            font-family: 'Helvetica', sans-serif;
            color: $black;
            font-weight: 400;
            font-size: $footer-font;
        }

        p{

            @include breakpoint(small down){
                text-align: center;
            }
        }

        ul li a{
            text-transform: uppercase;
            font-weight: 700;
            border-bottom: solid rem-calc(1) transparent;
            position: relative;
            padding-left: 0;
            padding-right: 0;
            margin-left: rem-calc(16);
            margin-right: rem-calc(16);

            position: relative;

            &::after{
                content: "";
                position: absolute;
                bottom: -2px;
                width: 0;
                height: 1px;
                background: $black;
                opacity: 1;
                left: 0;
                transition: .1s ease-in-out;
            }

            &:hover{

                &::after{
                    width: 100%;
                    opacity: 1;
                }
            }
        }

        nav{

            @include breakpoint(small down){
                display: none;
            }
        }

        @include breakpoint(small down){
            flex-direction: column-reverse;
        }
    }
    &__newsletter {
        padding: rem-calc(16);
        padding-bottom: rem-calc(24);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $secondary;

        h5, h6 {
            text-align: center;
        }

        h5 {
            margin-bottom: 0;
            font-weight: 700;
            font-size: rem-calc(20);
        }

        h6 {
            margin-bottom: 12px;
        }

        p {
            font-size: 12px;
            margin-top: 16px;
            max-width: 420px;

            a {
                text-decoration: underline;
            }
        }

        .newletter-container {
            font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;

            input {
                margin: 0;
                border-radius: rem-calc(20);
            }

            .tnp-subscription-minimal input.tnp-email {
                background-color: $white;
                padding-right: rem-calc(34);
                width: rem-calc(210);
            }

            .tnp-subscription-minimal input.tnp-submit {
                transform: translateX(rem-calc(-28));
                width: rem-calc(98);
                color: $white;
            	text-transform: uppercase;
            	background-color: $primary;
                font-weight: 700;
                padding: rem-calc(8);
                cursor: pointer;
                border: solid rem-calc(1) $primary;
                transition: background-color .25s ease-out,color .25s ease-out;

                &:hover{
            		background-color: $white;
            		color: $primary;
            		border: solid rem-calc(1) $primary;
            	}
            }
        }
    }

    .menu .active>a, .menu .is-active>a{
        background-color: transparent;
        color: $black;
    }
}
