html[lang="pl-PL"], html[lang="auto"]{

    .top-bar-right__translate{

        a[title="Polish"]{
            display: none;
        }
    }
}

html[lang="en"]{

    .top-bar-right__translate{

        a[title="English"]{
            display: none;
        }
    }

    .top-bar ul li a{

        br{
            display: none;
        }
    }
}

.header{
    position: relative;

    .grid-container{

        @include breakpoint(medium down){
            padding-left: 0;
            padding-right: 0;
        }
    }

    &-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: rem-calc(30);
        padding-bottom: rem-calc(30);
        border-bottom: solid rem-calc(1) $border-color;
        background-color: $white;
        position: relative;

        @include breakpoint(medium down){
            margin-bottom: rem-calc(20);
            padding-left: rem-calc(15);
            padding-right: rem-calc(15);
            top: 0;
            border-bottom: 0;
            z-index: 9;
            width: 100%;
            transition: all 0.4s ease-in-out;

            &::after{
                content: '';
                position: absolute;
                width: 120%;
                bottom:0;
                left: rem-calc(-50);
                height: rem-calc(1);
                background:$border-color;
                display: block;
            }

            &.sticky-header{
                padding-top: rem-calc(20);
                padding-bottom: rem-calc(20);
            }
        }

        @include breakpoint(small down){
            padding-left: rem-calc(20);
            padding-right: rem-calc(20);
        }

        .top-bar-left{

            .menu{

                @include breakpoint(medium down){
                    max-width: rem-calc(160);
                }

                li{

                    a{
                        padding:0;
                    }
                }
            }
        }

        .top-bar-right{
            display: flex;

            .widget{

                @include breakpoint(small down){
                    display: none;
                }
            }

            .search-form{

                label{
                    position: relative;

                    input{
                        margin:0;
                        border-radius: rem-calc(20);
                        border:0;
                        background-color: $secondary;
                        box-shadow: none;
                    }

                    input[type="search"]{
                        padding: rem-calc(8 15);
                        height: rem-calc(40);
                        width: rem-calc(368);

                        &::-webkit-search-cancel-button{
                            visibility:hidden;
                        }
                    }

                    i, .search-submit{
                        position: absolute;
                        right: 0;
                        top: 0;
                    }

                    i{
                        color: #020202;
                        font-size: $small-font-size;
                        top: 50%;
                        right: rem-calc(5);
                        transform: translate(-50%,-50%);
                    }

                    .search-submit{
                        height: 100%;
                        width: rem-calc(45);
                        background-color: transparent;
                        padding-left: rem-calc(5);
                        padding-right: rem-calc(10);
                    }
                }
            }

            .menu{
                margin-left:rem-calc(20);
                margin-right:rem-calc(6);

                a{
                    text-align: center;
                    display: block;
                    width: rem-calc(40);
                    background-color: $black;
                    border-radius: 100%;
                    padding:0;
                    margin-right: rem-calc(14);
                    border: solid rem-calc(1) transparent;
                    transition: .2s ease-in-out;

                    i{
                        color:$white;
                        line-height: rem-calc(37);
                    }

                    &:hover{
                        background-color: $white;
                        border-color: $black;

                        i{
                            color:$black;
                        }
                    }
                }

                @include breakpoint(medium down){
                    margin-right: 0;
                    align-items: center;

                    .menu-icon{
                        width: rem-calc(38);
                        height: rem-calc(24);

                        &::after{
                            background: $black;
                            box-shadow: rem-calc(0 10 0) $black, rem-calc(0 20 0) $black;
                            height: rem-calc(4);
                        }
                    }
                }
            }

            &__translate{
                width: rem-calc(40);
                height: rem-calc(40);

                a{
                    height: 100%;
                }

                html[lang="pl-PL"] &, html[lang="auto"] & {

                    a[title="Polish"]{
                        display: none;
                    }

                    a[title="English"]{
                        display: block;
                        position: relative;

                        img{
                            visibility: hidden;
                        }

                        &::after{
                            content:'';
                            position: absolute;
                            left:50%;
                            top:50%;
                            transform:translate(-50%,-50%);
                            background-image: url("../images/en.png");
                            background-size: cover;
                            background-repeat: no-repeat;
                            height: rem-calc(35);
                            width: rem-calc(35);
                        }
                    }
                }

                html[lang="en"] & {

                    a[title="English"]{
                        display: none;
                    }

                    a[title="Polish"]{
                        display: block;
                        position: relative;

                        img{
                            visibility: hidden;
                        }

                        &::after{
                            content:'';
                            position: absolute;
                            left:50%;
                            top:50%;
                            transform:translate(-50%,-50%);
                            background-image: url("../images/pl.png");
                            background-size: cover;
                            background-repeat: no-repeat;
                            height: rem-calc(35);
                            width: rem-calc(35);
                        }
                    }
                }
            }
        }
    }

    &-bottom{
        z-index: 9;
        width: 100%;
        left: 0;

        @include breakpoint(medium down){
            display: none;
        }

        .top-bar{
            padding: 0;
            background: $white;
            height: rem-calc(100);
            transition: all 0.4s ease-in-out;

            &>div{
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                position: relative;

                .mobile-logo{
                    z-index: 10;
                    position: absolute;
                    height: 0;
                    opacity: 0;
                }
            }

            .menu{
                padding-left: 0;
                position: relative;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                background: transparent;

                .menu-item{
                    z-index: 11;

                    a{
                        text-transform: uppercase;
                        font-size: $small-font-size;
                        font-weight: bold;
                        color: $black;
                        line-height: 1.1;
                        text-align: center;
                        position: relative;
                        padding-left: 0;
                        padding-right: 0;

                        &::after{
                            content: "";
                            position: absolute;
                            bottom: -2px;
                            width: 0;
                            height: 1px;
                            background: $black;
                            opacity: 1;
                            left: 0;
                            transition: .1s ease-in-out;
                        }

                        &:hover{

                            &::after{
                                width: 100%;
                                opacity: 1;
                            }
                        }
                    }

                    &:first-child>a{
                        padding-left: 0;
                    }

                    &:last-child>a{
                        padding-right: 0;
                    }
                }
            }
        }

        &.sticky-header{

            .top-bar{
                background: $secondary;
                height: rem-calc(73);

                &>div{

                    .mobile-logo{
                        height: 100%;
                        opacity: 1;
                    }
                }
                .menu#main-nav{
                    padding-left: rem-calc(120);

                    @include breakpoint(large down){
                        padding-left: rem-calc(70);
                    }

                    .menu-item{

                        a{

                            @include breakpoint(large down){
                                font-size: rem-calc(14);
                            }
                        }
                    }

                    &>li.opens-right>.is-dropdown-submenu{
                        background: rgba(245,245,245,0.9);
                    }
                }
            }
        }
    }
}

.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a:after{
    content: none;
}

.dropdown.menu.medium-horizontal>li.opens-right>.is-dropdown-submenu{
    padding-bottom: rem-calc(10);
    position: absolute;
    background-color: rgba(255,255,255,0.9);
    border: 0;
    left:50%;
    transform:translateX(-50%);
}

.dropdown.menu.medium-horizontal>li.opens-right:first-child>.is-dropdown-submenu{

    @include breakpoint(rem-calc(1410) down){
        left:0;
        transform:translateX(0);
    }
}

.header-bottom .top-bar .menu .menu-item .menu .menu-item a{
    width: 75%;
    margin: auto;

    &::after{
        bottom: auto;
        top:117%;
    }
}

.header-bottom .top-bar .menu .menu-item .menu .menu-item:last-child a,
.header-bottom .top-bar .menu .menu-item .menu .menu-item:first-child a,
.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a{
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.header-bottom .top-bar .menu .menu-item .menu .menu-item a{
    text-transform: none;
}

.header-bottom .top-bar .menu .menu-item.active.menu-item-has-children>a,
.header-bottom .top-bar .menu .menu-item.active.current-menu-item>a{
    background-color: transparent;
    border-bottom: solid rem-calc(1) $border-color;
}
