.hero-container{

    .grid-container{
        @include breakpoint(medium down){
            padding: 0;
        }
    }
}
.hero-swiper{
    margin-top:rem-calc(10);
    margin-bottom: rem-calc(210);
    position: relative;

    @include breakpoint(medium down){
        margin-bottom: rem-calc(130);
    }

    @include breakpoint(small down){
        margin-bottom: rem-calc(40);
    }

    &__img{

        @include breakpoint(medium down){
            margin: rem-calc(0 15);
        }

        @include breakpoint(small down){
            margin: rem-calc(0 20);
        }
    }

    &__img-slide{

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .right-item{
        position: absolute;
        right: 0;
        top:rem-calc(42);

        @include breakpoint(medium down){
            position: relative;
            top: auto;
        }
    }

    &__thumb{
        background-color: $secondary;

        @include breakpoint(medium down){
            margin-top: rem-calc(-30);
            z-index: auto;
        }

        .swiper-button-prev,
        .swiper-button-next{
            top:rem-calc(120);
            font-size: $small-font-size;
            font-weight: 700;
            color:$primary;
            z-index: 8;
            transition: .2s ease-in-out;

            &::after{
                content: none;
            }
        }

        .swiper-button-next{
            right: rem-calc(43);

            &:hover{
                right: rem-calc(37);
            }

            @include breakpoint(medium down){
                right: rem-calc(28);

                &:hover{
                    right: rem-calc(22);
                }
            }

            @include breakpoint(small down){
                display: none;
            }
        }

        .swiper-button-prev{
            left: rem-calc(43);

            &:hover{
                left: rem-calc(37);
            }

            @include breakpoint(medium down){
                left: rem-calc(28);

                &:hover{
                    left: rem-calc(22);
                }
            }

            @include breakpoint(small down){
                display: none;
            }
        }

        .swiper-pagination{
            text-align: left;
            padding-left: rem-calc(100);
            bottom: auto;
            top: rem-calc(35);
            font-family: 'Helvetica', sans-serif;
            font-size: rem-calc(13);
            font-weight: bold;
            z-index: 8;

            @include breakpoint(medium down){
                top: rem-calc(55);
            }

            @include breakpoint(small down){
                text-align: center;
                padding-left: 0;
                top: rem-calc(55);
            }
        }
    }

    &__thumb-desc{
        padding: rem-calc(70 100);
        padding-right: rem-calc(65);
        padding-bottom: rem-calc(60);

        @include breakpoint(medium down){
            padding: rem-calc(70 100);
            padding-right: rem-calc(45);
            padding-bottom: rem-calc(40);
            padding-top: rem-calc(100);
        }

        @include breakpoint(small down){
            text-align: center;
            padding: rem-calc(40);
            padding-bottom: rem-calc(35);
            padding-top: rem-calc(100);
        }

        h3{
            margin-bottom: rem-calc(35);
            line-height: 1.1;
            font-size: rem-calc(30);

            @include breakpoint(small down){
                margin-bottom: rem-calc(25);
                font-size: $h3-mobile;
            }
        }

        p{
            line-height: 1.4;
            font-weight:300;
            margin-bottom: rem-calc(40);
            font-size: $footer-font;

            @include breakpoint(small down){
                font-size: $body-mobile-font-size;
            }
        }

        .button{
            margin-bottom: rem-calc(0);
        }
    }
}
