.home-characters{
    padding-top: rem-calc(90);
    padding-bottom: rem-calc(20);

    &::before{
        top: auto;
        bottom: 0;
        height: 23%;
    }

    h2{
        margin-bottom: rem-calc(25);

        @include breakpoint(small down){
            text-align: center;
        }
    }

    &__img{
        height: rem-calc(205);
        overflow: hidden;
        z-index: 0;
        position: relative;

        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        &::after{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            display: block;
            z-index: 1;
            background-color: rgba($primary, 0.4);
        }
    }

    &__text{
        position: relative;
        background: $white;
        text-align: center;
        margin-left: 8%;
        margin-right: 8%;
        margin-top: -10%;
        padding: rem-calc(15 0);
        z-index: 1;

        p{
            font-size: $button-font;
            font-weight: 800;

            @include breakpoint(small down){
                font-size: $button-font-small;
            }
        }
    }

    .swiper-slide:nth-child(n+9){

        .home-characters__text{
            background: $secondary;
        }
    }
}
