.home-quotation{

    &__box{
        background-image: url("../images/quot.png");
        background-size: 37%;
        background-repeat: no-repeat;
        background-color: $primary;
        color: $white;
        padding:rem-calc(43 59);
        padding-bottom: rem-calc(41);

        @include breakpoint(large down){
            background-size: contain;
        }

        @include breakpoint(small down){
            background-position: rem-calc(65) 0;
        }

        @include breakpoint(rem-calc(360) down){
            padding:rem-calc(43 40);
        }

        .home-quotation__author{

            @include breakpoint(small down){
                margin-bottom: rem-calc(15);
            }
        }

        p{
            font-weight: 300;
            margin-bottom: 0;
            color: $white;

            @include breakpoint(small down){
                margin-bottom: rem-calc(60);
                line-height: 2;
            }
        }

        strong{
            font-weight: 800;
        }
    }

    &__author{
        text-align:right;

        @include breakpoint(small down){
            text-align:left;
        }
    }
}
