.off-canvas{
    width: 100%;
    background-color: $white;
    padding: rem-calc(25 0);
    font-family: 'Helvetica', sans-serif;
    font-size: $offcanvas-font;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.2;

    .menu{
        text-align:center;

        .menu-item{
            margin-bottom: 0;

            &:hover{
                background-color: $secondary;
            }

            a{
                color: $black;
                padding: rem-calc(24 0);
                font-size: $body-font-size;
                font-weight: 700;
            }
        }
    }

    .close-button{
        outline:none;
        z-index: 2;
        font-family: 'Merriweather Sans', sans-serif;
        font-size: rem-calc(60);
        font-weight: 100;
        color: $black;

        &:focus,
        &:hover{
            color: $black;
        }

        span {


            &:focus,
            &:hover{
                color: $black;
            }
        }
    }

    .search-form{
        display: flex;
        justify-content: center;
        margin-top: rem-calc(20);

        label{
            position: relative;
            display: inline-block;

            input{
                margin:0;
                border-radius: rem-calc(20);
                border:0;
                background-color: $secondary;
                box-shadow: none;
            }

            input[type="search"]{
                padding: rem-calc(8 15);
                height: rem-calc(40);
                width: rem-calc(368);
                margin: 0 auto;

                @include breakpoint(small down){
                    width: rem-calc(290);
                }

                &::-webkit-search-cancel-button{
                    visibility:hidden;
                }
            }

            i, .search-submit{
                position: absolute;
                right: 0;
                top: 0;
            }

            i{
                color: #020202;
                font-size: $small-font-size;
                top: 50%;
                right: rem-calc(5);
                transform: translate(-50%,-50%);
            }

            .search-submit{
                height: 100%;
                width: rem-calc(45);
                background-color: transparent;
                padding: rem-calc(8)
            }
        }
    }

    &__bottom{

        .menu{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: rem-calc(30);

            .menu-item{

                &:hover{
                    background-color: transparent;
                }

                a{
                    text-align: center;
                    display: block;
                    width: rem-calc(49);
                    background-color: $black;
                    border-radius: 100%;
                    padding:0;
                    margin-right: rem-calc(14);

                    i{
                        color:$white;
                        line-height: rem-calc(45);
                    }
                }
            }
        }
    }

    .menu .active>a, .menu .is-active>a{
        background-color: $secondary;
    }
}

.off-canvas.is-open{

    .menu{

        .menu-item{
            opacity: 0;
            animation: fadeInMenu 1s ease-out forwards;

            &:first-child{
                animation-delay: .15s;
            }

            &:nth-child(2){
                animation-delay: .3s;
            }

            &:nth-child(3){
                animation-delay: .45s;
            }

            &:nth-child(4){
                animation-delay: .6s;
            }

            &:nth-child(5){
                animation-delay: .7s;
            }

            &:nth-child(6){
                animation-delay: .8s;
            }

            &:nth-child(7){
                animation-delay: .9s;
            }

            &:nth-child(8){
                animation-delay: .95s;
            }

            @keyframes fadeInMenu {

                0% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }
        }
    }

    .search-form{
        font-family: 'Merriweather', serif;
        opacity: 0;
        transform: scale(0);
        animation: fadeIn .8s ease-out .8s forwards;

        @keyframes fadeIn {

            0% {
                opacity: 0;
                transform: scale(0);
            }

            60% {
                opacity: 1;
                transform: scale(1.1);
            }

            100% {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}

.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle)>a:after{
    content: none;
}

.off-canvas-content .off-canvas.position-right, .position-right{
    transform: translateX(100%);
}
