.single-page,
.single-page-patron{

    p, li{
        color: $black;
        font-size: $footer-font;
    }

    .archive-header{
        padding-bottom: rem-calc(30);
    }

    &__text{
        position: relative;
        padding-bottom: rem-calc(63);

        &::before{
            content: '';
            position: absolute;
            width: 500%;
            left: -100%;
            right: -100%;
            top: 0;
            height: 100%;
            background-color: $secondary;
            z-index: -1;
        }
    }

    .single-rows{
        margin-top:rem-calc(87);
    }
}

.single-page-patron{

    .archive-header{
        padding-bottom: rem-calc(5);
    }

    .single-page-patron-main{
        background-color: $secondary;
    }

    &__text{
        padding-bottom: rem-calc(44);
        display: none;

        &.active{
            display: block;
        }

        &::before{
            content: none;
        }
    }

    &__thumb{

        img{
            display: block;
            margin: 0 auto;
        }
    }
}

.single-page-person{

    .archive-header{
        padding-bottom: rem-calc(143);
    }

    .entry-content{
        margin-top:rem-calc(-100);
    }
}

.character-container{
    margin-bottom: rem-calc(60);

    .characters-img{
        height: rem-calc(205);
        overflow: hidden;
        z-index: 0;

        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .characters-text{
        position: relative;
        background: $secondary;
        text-align: center;
        margin-left: 8%;
        margin-right: 8%;
        margin-top: rem-calc(-23);
        padding: rem-calc(15 0);
        z-index: 1;

        p{
            font-size: $button-font;
            font-weight: 800;

            @include breakpoint(small down){
                font-size: $button-font-small;
            }
        }
    }

    .characters-desc{
        margin-top: rem-calc(42);

        p{
            color: $black;
            font-size: $footer-font;
        }
    }

    .characters-desc-more{
        margin-top: rem-calc(20);
        font-size: $footer-font;
    }
}

.single-page-person-horizontal,
.single-page-publish-horizontal{

    .archive-header{
        padding-bottom: rem-calc(88);
    }

    .entry-content{
        margin-top:rem-calc(-52);
    }
}

.character-container-horizontal{
    display: flex;
    margin-bottom: rem-calc(75);

    @include breakpoint(medium down){
        flex-wrap: wrap;
    }

    .character-horizontal-img-container{
        margin-right: rem-calc(35);

        @include breakpoint(small down){
            margin-right: 0;
        }

        .characters-horizontal-img{
            width: rem-calc(306);
            height: auto;
            overflow: hidden;
            z-index: 0;
            cursor: pointer;

            img{
                object-fit: cover;
                height: 100%;
                width: 100%;
            }

            &--small{
                width: rem-calc(215);

                @include breakpoint(medium down){
                    margin-bottom: rem-calc(25);
                }
            }

            @include breakpoint(small down){
                width: auto;
            }
        }

        .characters-horizontal-text{
            position: relative;
            background: $secondary;
            text-align: center;
            margin-left: 8%;
            margin-right: 8%;
            margin-top: rem-calc(-23);
            padding: rem-calc(15 0);
            z-index: 1;

            p{
                font-size: $button-font;
                font-weight: 800;

                .single-page-publish-horizontal &{
                    font-size: $h3-mobile;
                }

                @include breakpoint(small down){
                    font-size: $button-font-small;
                }
            }
        }
    }

    .characters-horizontal-desc-container{

        .characters-horizontal-desc{
            margin-top:rem-calc(92);

            .single-page-publish-horizontal &{
                margin-top:rem-calc(47);
            }

            @include breakpoint(medium down){
                margin-top:rem-calc(40);
            }

            p{
                color: $black;
                font-size: $footer-font;
            }
        }

        .characters-horizontal-desc-more{
            margin-top:rem-calc(25);

            p{
                font-size: $footer-font;
                font-weight: 400;
            }
        }
    }
}

.single-page-publish-horizontal {

    .characters-horizontal-desc-container{

        .characters-horizontal-text{

            p, h2{
                font-size: $h3-mobile;
                font-weight: 900;
            }

            h2{
                font-family: 'Merriweather', serif;

                @include breakpoint(medium down){
                    margin-top: rem-calc(30)
                }
            }

            .characters-horizontal-text__small{
                font-size: rem-calc(15);
                font-weight: 600;
                margin-top: rem-calc(3);
            }
        }
    }
}

.single-page-publish-book-horizontal{

    .archive-header{
        padding-bottom: rem-calc(120);
    }

    .entry-content{
        margin-top:rem-calc(-82);
    }
}

.accordion{

    .accordion-item{

        .accordion-title{
            border:0;
            display: inline-block;
            font-size: $small-font-size;
            color: $primary;
            text-transform:uppercase;
            font-family: 'Helvetica', sans-serif;
            font-weight: bold;
            padding: rem-calc(5 10);

            &::before{
                content: none;
            }

            &:hover,
            &:focus{
                background-color: transparent;
            }

            img{
                margin-right: rem-calc(18);
            }

            &:hover{

                img{
                    opacity: 1;
                    animation: pulse 1s infinite;

                    @keyframes pulse{
                        0%{
                            opacity: 1;
                        }
                        50%{
                            opacity: .5;
                        }
                        100%{
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .accordion-open{
            display: none;
        }

        .accordion-content{
            padding:0;
            padding-bottom:rem-calc(20);
            border:0;

            p{
                color: $black;
                font-size: $footer-font;
                font-weight: 400;
            }
        }

        &.is-active{

            .accordion-open{
                display: block;
            }

            .accordion-close{
                display: none;
            }
        }
    }
}

.single-page__text-en.single-page-patron__text-en{
    padding-bottom: rem-calc(44);
    display: none;

    &.active{
        display: block;
    }
}

.single-page-patron {

    .single-rows__text,
    .single-rows__text-en{
        display: none;

        &.active{
            display: block;
        }
    }
}
