.search{

    .inner-content{
        margin-top: rem-calc(-60);
    }

    .post-not-found{
        margin-top: rem-calc(60);

        header{
            margin-bottom: rem-calc(60);
        }

        .search-form{

            label{
                position: relative;
                display: inline-block;

                input{
                    margin:0;
                    border-radius: rem-calc(20);
                    border:0;
                    background-color: $secondary;
                    box-shadow: none;
                }

                input[type="search"]{
                    padding: rem-calc(8 15);
                    height: rem-calc(40);
                    width: rem-calc(368);

                    &::-webkit-search-cancel-button{
                        visibility:hidden;
                    }
                }

                i, .search-submit{
                    position: absolute;
                    right: 0;
                    top: 0;
                }

                i{
                    color: #020202;
                    font-size: $small-font-size;
                    top: 50%;
                    right: rem-calc(5);
                    transform: translate(-50%,-50%);
                }

                .search-submit{
                    height: 100%;
                    width: rem-calc(45);
                    background-color: transparent;
                    padding-left: rem-calc(5);
                    padding-right: rem-calc(10);
                }
            }
        }

        .entry-content{
            margin-bottom: rem-calc(10);
            margin-left: rem-calc(4);
        }
    }
}
