@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

$body-font-size: rem-calc(20);
$body-mobile-font-size: rem-calc(16);
$footer-font: rem-calc(18);
$button-font: rem-calc(17);
$small-font-size: rem-calc(16);
$button-font-small: rem-calc(12);
$h3: rem-calc(33);
$h3-tablet: rem-calc(27);
$h3-mobile: rem-calc(21);
$offcanvas-font: rem-calc(22);

$primary: #061956;
$secondary: #F5F5F5;
$border-color:#707070;

h2, .h2, h3, .h3{
	font-size: $h3;
	line-height: 1.2;
	font-weight: bold;
}

h3, .h3{

	@include breakpoint(medium down){
		font-size: $h3-tablet;
	}

	@include breakpoint(small down){
		font-size: $h3-mobile;
	}
}

li{
	color: $black;
	font-weight: 300;
	font-size: $body-font-size;

	@include breakpoint(small down){
		font-size: $small-font-size;
	}
}

p{
	margin:0;
	color:$primary;
}

blockquote {
	border-left-width: rem-calc(10);
	border-left-color: $primary;
	margin-top: rem-calc(10);
}

.grid-container{
	max-width: rem-calc(1330);
	width: 100%;

	&--small{
		max-width: rem-calc(950);
	}

	@include breakpoint(small down){
		padding-left: rem-calc(20);
		padding-right: rem-calc(20);
	}
}

.grid-align-bottom{
	align-items: flex-end;
}

body{
	font-family: 'Merriweather', serif;
    font-size: $body-font-size;
    color: $primary;

	@include breakpoint(small down){
		font-size: $body-mobile-font-size;
	}
}

.top-bar ul li a{
    font-family: 'Helvetica', sans-serif;
}

.button{
	font-family: 'Helvetica', sans-serif;
	font-size: $button-font;
	font-weight: bold;
	color: $white;
	text-transform: uppercase;
	background-color: $primary;
	border-radius: rem-calc(18);
	padding: rem-calc(8 55);
	border:solid rem-calc(1) transparent;

	@include breakpoint(small down){
		font-size: $button-font-small;
		padding: rem-calc(6 47);
	}

	&:hover{
		background-color: $white;
		color: $primary;
		border-color: $primary;
	}

	&--small{
		background-color: $white;
		color: $primary;
		font-size: $button-font-small;
		border-color:$primary;
		padding: rem-calc(6 47);

		&:hover{
			background-color: $primary;
			color: $white;
			border-color:$white;
		}
	}

	&--gray{
		background-color: $secondary;
	}
}

.secondary-bg{
	background-color: $secondary;
    position: relative;
    z-index: 0;

	&::before{
        content:'';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 50%;
        background: $white;
        z-index: -1;
    }
}

.section-main{
	padding-top:rem-calc(60);
	padding-bottom: rem-calc(60);
	position: relative;

	@include breakpoint(small down){
		padding-bottom: rem-calc(80);
		padding-top:rem-calc(40);
	}

	.grid-container{

        @include breakpoint(small down){
            padding: 0;
        }
    }

	&__header{
		display: flex;
        justify-content: space-between;
        align-items:center;

		@include breakpoint(small down){
			justify-content: center;
		}

		h2{

			@include breakpoint(small down){
				justify-content: center;
			}
		}

		.button{

			@include breakpoint(small down){
	            position: absolute;
				bottom: rem-calc(27);
				left: 50%;
				transform: translateX(-50%);
	        }
		}
	}

	&__img{
		height: rem-calc(285);
		display: flex;

		img{
			object-fit: cover;
			height: 100%;
			width: 100%;

			&.default-cover{
				height: auto;
				width: 100%;
				object-fit: none;
			}
		}
	}

	&__card{
		margin-top: rem-calc(25);
		border:0;
		align-items: center;
		background-color: transparent;
	}

	&__text{
		background-color: $secondary;
		padding:rem-calc(39 44);
		padding-bottom: rem-calc(20);
		width: 82%;
		margin-top:rem-calc(-45);

		@include breakpoint(small down){
            width: auto;
			margin-left: rem-calc(20);
			margin-right: rem-calc(20);
			padding-left: rem-calc(20);
			padding-right: rem-calc(20);
			text-align: center;
        }

		h3{
			color:$primary;
			margin-bottom: rem-calc(35);
			font-size: rem-calc(30);

            @include breakpoint(small down){
                font-size: $h3-mobile;
            }
		}

		p{
			font-weight: 300;
			margin-bottom: rem-calc(30);
			line-height: 1.4;
			font-size: $footer-font;

            @include breakpoint(small down){
                font-size: $body-mobile-font-size;
            }
		}
	}

	&--archive{
		padding: 0;

		.section-main__card{
			margin-bottom: 0;
			margin-top: rem-calc(74);
		}
	}

	&--thumb{
		height: 100%;
		padding-top: 0;
		padding-bottom: 0;

		@include breakpoint(medium down){
			height: auto;
		}

		.section-main__card{
			height: 100%;
			margin-top: 0;

			@include breakpoint(medium down){
				height: auto;
				margin-bottom: rem-calc(50);
			}
		}

		.section-main__text{
			padding:rem-calc(30 35 20);
			margin-top: rem-calc(-35);
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-bottom: rem-calc(30);

			@include breakpoint(medium down){
				height: auto;
			}

			@include breakpoint(small down){
				display: block;
				width: 90%;
				margin-left: rem-calc(10);
				margin-right: rem-calc(10);
			}

			h3{
				font-size: rem-calc(25);

				@include breakpoint(small down){
					font-size: $h3-mobile;
				}
			}

			.button{
				font-size: rem-calc(22);
				margin-bottom: 0;

				@include breakpoint(small down){
					font-size: $button-font-small;
					padding: rem-calc(6 47);
				}
			}
		}
	}
}

.info-banner-container{
	position: absolute;
	top: rem-calc(225);
	right: rem-calc(110);
	z-index: 1000;
	border: solid rem-calc(1) $primary;
	transition: all 0.4s ease-in-out;

	@include breakpoint(rem-calc(1680) down){
		right: rem-calc(-162);

		&.active{
			right: 0;
		}
	}

	@include breakpoint(medium down){
		top: rem-calc(130);
	}

	.info-banner{
		width: rem-calc(160);
		position: relative;
		background-color: $secondary;
		border:0;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding:rem-calc(20 0 5);
		overflow: visible;
		margin-bottom: 0;

		h2{
			color: $primary;
			font-size: $small-font-size;
			text-transform: uppercase;
			padding-bottom: rem-calc(10);
			margin-bottom: rem-calc(30);
			border-bottom: solid rem-calc(1) $primary;
		}

		a, &>:last-child{
			margin-bottom: rem-calc(30);
		}

		.info-banner-overlap{
			display: none;
			position: absolute;
			left: rem-calc(-30);
			top: rem-calc(20);
			height: rem-calc(100);
			width: rem-calc(30);
			background-color: $primary;
			align-items: center;
			justify-content: center;
			border-top-left-radius: rem-calc(10);
			border-bottom-left-radius: rem-calc(10);
			box-shadow: -2px 2px 6px 0px rgba(0,0,0,0.3);
			border-right:0;
			cursor: pointer;

			@include breakpoint(rem-calc(1680) down){
				display: flex;
			}

			span{
				letter-spacing:rem-calc(-4);
				color: darken($secondary,20%);
				font-weight: 100;
			}
		}
	}
}

.page-navigation{
	margin: 0 auto;
	margin-top: rem-calc(40);

	.pagination{

		li{
			font-size: $body-font-size;

			a{
				line-height: 1.1;
				border-radius: rem-calc(4);
			}
		}

		.current{
			background-color: $primary;
			line-height: 1.1;
			display: block;
			border-radius: rem-calc(4);
		}
	}
}

.reveal {
	width: fit-content;

	.close-button{
		width: rem-calc(40);
		height: rem-calc(40);
		background-color: $white;
	}
}
