.single-notice {

    .article-header{
        background-color: $secondary;
        padding: rem-calc(35 0 220);
        text-align: center;

        &--small{
            padding-bottom: rem-calc(35);
        }

        h1{
            font-size: $h3;
            font-weight: bold;
        }

        .byline{
            font-family: 'Merriweather Sans', sans-serif;
            color: $primary;
            font-size: $small-font-size;

            a{
                color: $primary;
            }
        }
    }

    .entry-content{
        margin-top: rem-calc(-185);

        &--upper{
            margin-top: rem-calc(30);
        }

        p{
            font-weight: 300;
            color: $black;
        }

        .single-thumbnail{
            margin-bottom: rem-calc(53);
        }
    }

    .article-footer{

        &-header{
            background-color: $secondary;
            padding: rem-calc(44 0 83);
        }

        &-main{
            margin-top: rem-calc(-40);

            .grid-container{

                @include breakpoint(small down){
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
}

.single-rows{

    &__text{
        margin-bottom: rem-calc(53);
    }

    &__img-full,
    &__img-half{
        margin-bottom: rem-calc(87);

        @include breakpoint(medium down){
            margin-bottom: rem-calc(40);
        }
    }

    &__img-full{

        .grid-container{
            height: rem-calc(800);

            @include breakpoint(small down){
                height: auto;
            }
        }

        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}

.post-accordion {
    margin-bottom: rem-calc(70);

    .accordion {
        margin-bottom: 30px;

        .accordion-item{
            position: relative;
            border-top: solid 4px $primary;
            box-shadow: 0px 9px 24px -8px rgba(43, 43, 45, 0.3);

            .accordion-title {
                padding: rem-calc(20);
                padding-right: 60px;
                width: 100%;
                line-height: 1.3;
            }

            .accordion-content {
                padding: rem-calc(0 20 20);

                p {
                    font-size: $body-font-size;
                    font-weight: 300;

                    @include breakpoint(small down){
                		font-size: $body-mobile-font-size;
                	}
                }
            }

            .accordion-arrow{
                position: absolute;
                top: rem-calc(16);
                right:rem-calc(20);
                transform-origin: center;
                transition: all .2s ease-in-out;
            }

            &.is-active{

                .accordion-arrow{
                    transform: rotate(180deg);
                }
            }
        }
    }
}
